@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-primary: #9e2477;
  --color-secondary: #1c1c31;
  --color-tertiary: #e1c2c7;
  --color-black: #000000;
  --color-white: #ffffff;

  --gradient-ligth: linear-gradient(180deg, #ffffff 0%, #e1c2c7 95%);

  --gradient-medium: linear-gradient(180deg, #e1c2c7 0%, #9e2477 95%);

  --gradient-primary: linear-gradient(180deg, #1c1d31 0%, #9e2477 95%);

  --gradient-primary-over: linear-gradient(180deg, #28084b 0%, #9e2477 95%);

  --gradient-strong: linear-gradient(180deg, #000000 0%, #1c1d31 95%);
}

body {
  margin: 0;
  padding: 0;
  background-image: var(--gradient-medium);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
